* {
  padding: 0;
  margin: 0;
}

.container,
.container__darkMode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.container__darkMode {
  background-color: rgb(26 29 29) !important;
  color: white;
}

.image {
  width: 370px;
  margin-top: 50px;
}

.image__darkMode {
  filter: invert(1);
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
